.text-percent{
    font-size: 2rem;
}

.title{
    font-size: 5.5rem;
    font-family: 'Bebas Neue', cursive;
    font-stretch: expanded;
    line-height: 1.2;
    word-spacing: 0.1rem;
    letter-spacing: -0.01rem;
}
